.fondo{
    background-color: rgb(230, 191, 17);
}

.adivina{

    color: brown;
   text-transform: uppercase;

}

.sabrias{
    color: rgb(26, 18, 4);
    font-size: 300%;

}

.simios{

font-size: 400%;
}

.mismo-color{
}
 

.pink{

    background-color: pink;
}
    .white{
        background-color: white;
    }






