* {
    box-sizing: border-box;
}

header>h1{

  background-color: grey
;
font-size:  200%; 
margin-block: 0
;
color: white

; font-family: sans-serif;


}

body{

    margin: 0;
    font-size: 200%;
    font-family: sans-serif;
}
.titulo{

    background-color: rgb(255, 46, 161);
    border-radius: 0;
    border: 1px solid;
}
h2{

    background-color: rgb(13, 117, 60);
    color: white;
    font-family: sans-serif;
    width: 100%;
    border-top-right-radius: 15px
    ;
    border-top-left-radius: 15px
    
    ;
    
    margin: 0;
    padding: 4px;


}

p{

    background-color: aquamarine;
    font-size: 150%;
    margin: 0;
    width: 100%;
    margin-left: 0%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 4px;
    

}
.container{

    margin: 0 auto;
    width: 70%

}
.container>div{

    margin-top: 0%
    ;
    margin-bottom: 5%;
    margin-top: 5%;
    
}

nav{
background-color: grey ;
width: 10%;
position:fixed;
margin-top: 5%;
margin-left: 2%;
color: white;
 border-radius: 5px;

}
a{
    text-decoration: none;
    color: white;
}

@media(min-width:480px){
    p{
        font-size: 20px;

    }
    h2{
        font-size: 20px;

    }
    nav{
        font-size: 20px;
    }
    header{

        font-size: 20px;
    }
}

@media(min-width:1000px){

    .container{

        display: flex;
        gap: 80px;
        
        
        
        
    }  

    .columna1{

        display: flex;
        flex-direction: column;
        gap:20px;
        border-left: solid 1px;
        border-right: solid 1px;

    }
.columna2{

    display: flex;
    flex-direction: column;
    gap:20px;
    border-left: solid 1px;
    border-right: solid 1px;
}
    
    


    

}








